# secret key for Django application
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# django environment value: dev/prod
DJANGO_ENV=dev

# allowed hosts for prod
ALLOWED_HOSTS=https://example.com,https://www.example.com

# database url(prod mode)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

UV_LINK_MODE=copy

REDIS_URL=redis://redis:xxxx/x

EMAIL_HOST=xxxx.gmail.com
EMAIL_PORT=xxx
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_USE_TLS=True