# secret key for Django application
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# django environment value: dev/prod
DJANGO_ENV=dev

# allowed hosts for prod
ALLOWED_HOSTS=https://example.com,https://www.example.com

# database url(prod mode)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres